* {
  font-family: "Suruma", serif;
}

.main {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: green;
  position: relative;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  float: right;
}
